@import url('./main-layout.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
@import url('@fontsource/roboto');

html {
    --lumo-space-xl: 2.5rem;
    --lumo-space-l: 1.75rem;
    --lumo-space-m: 1.125rem;
    --lumo-space-s: 0.75rem;
    --lumo-space-xs: 0.375rem;
    --lumo-font-family: Roboto;

}

[theme~="dark"] {

}
